# More Practice With SQL Queries - Lab

## Introduction

In this lesson, we'll run through some practice questions to refresh our knowledge of SQL Queries!

## Objectives

You will be able to:
- Practice your SQL knowledge


## Getting Started

As in previous labs, we'll make use of the `sqlite3` library as well as `pandas`. By combining them, we'll be able to write our queries as python strings, and make sure that the results are always returned as a pandas DataFrame. 

We'll start by loading both libraries and connecting to the database we'll be using for this lab, `data.sqlite`. You may remember this database from a previous lab. As a refresher, here's the ERD diagram for this database: 

<img src='images/Database-Schema.png'>

In the cell below:

* Import the necessary libraries `pandas` and `sqlite3`
* Establish a connection to the database `data.sqlite`
* Get the `cursor` from the connection and store it in the variable `c`.

In [1]:
import pandas as pd
import sqlite3 as sq

db = 'data.sqlite'

conn = sq.connect(db)
c = conn.cursor()

## Basic Queries

Now, let's review basic SQL queries. In the cell below:

* Write a query that gets the first name, last name, phone number, and address for all customers in California with a credit limit greater than 25000.00.

In [2]:
# For the first query, the boilerplate for getting 
#the query into a dataframe has been provided for you
query = """SELECT contactFirstName, contactLastName, phone, addressLine1, creditLimit \
        FROM customers \
        WHERE state == 'CA' and creditLimit > 25000.00;"""
c.execute(query)
df = pd.DataFrame(c.fetchall())
df.columns = [x[0] for x in c.description]
df

,contactFirstName,contactLastName,phone,addressLine1,creditLimit
0,Susan,Nelson,4155551450,5677 Strong St.,210500.00
1,Julie,Murphy,6505555787,5557 North Pendale Street,64600.00
2,Juri,Hashimoto,6505556809,9408 Furth Circle,84600.00
3,Julie,Young,6265557265,78934 Hillside Dr.,90700.00
4,Mary,Young,3105552373,4097 Douglas Av.,11000.00
5,Valarie,Thompson,7605558146,361 Furth Circle,105000.00
6,Julie,Brown,6505551386,7734 Strong St.,105000.00
7,Brian,Chandler,2155554369,6047 Douglas Av.,57700.00
8,Sue,Frick,4085553659,3086 Ingle Ln.,77600.00
9,Steve,Thompson,3105553722,3675 Furth Circle,55400.00
10,Sue,Taylor,4155554312,2793 Furth Circle,60300.00

#### Expected Output

<img src='images/expected-output-1.png'>

## Aggregate Functions and GROUP BY

Next, write a query that get sthe average credit limit per state.

In [3]:
query = """SELECT state, AVG(creditLimit) AS avg_credit_limit
            FROM customers
            GROUP BY state;"""

c.execute(query)
df = pd.DataFrame(c.fetchall())
df.columns = [x[0] for x in c.description]
df

            state  avg_credit_limit
0                      61839.726027
1              BC      89950.000000
2              CA      83854.545455
3              CT      57350.000000
4        Co. Cork          0.000000
5   Isle of Wight      93900.000000
6              MA      70755.555556
7              NH     114200.000000
8              NJ      43000.000000
9             NSW     100550.000000
10             NV      71800.000000
11             NY      89966.666667
12          Osaka      81200.000000
13             PA      84766.666667
14       Pretoria          0.000000
15     Queensland      51600.000000
16         Québec      48700.000000
17          Tokyo      94400.000000
18       Victoria      88800.000000

#### Expected Output

<img src='images/expected-output-2.png'>

## JOINs

Now, write a query that uses JOIN statements to get the customer name, customer number, order number, status, and quantity ordered. Print only the head of this DataFrame.

In [4]:
query = """SELECT c.customerName, c.customerNumber, o.orderNumber, o.status, od.quantityOrdered
        FROM customers c
        JOIN orders o
        ON c.customerNumber = o.customerNumber
        JOIN OrderDetails od ON od.orderNumber = o.orderNumber"""

c.execute(query)
df = pd.DataFrame(c.fetchall())
df.columns = [x[0] for x in c.description]
df

            customerName customerNumber orderNumber     status quantityOrdered
0      Atelier graphique            103       10123    Shipped              26
1      Atelier graphique            103       10123    Shipped              34
2      Atelier graphique            103       10123    Shipped              46
3      Atelier graphique            103       10123    Shipped              50
4      Atelier graphique            103       10298    Shipped              32
5      Atelier graphique            103       10298    Shipped              39
6      Atelier graphique            103       10345    Shipped              43
7     Signal Gift Stores            112       10124    Shipped              21
8     Signal Gift Stores            112       10124    Shipped              22
9     Signal Gift Stores            112       10124    Shipped              22
10    Signal Gift Stores            112       10124    Shipped              23
11    Signal Gift Stores            112       10124    Shipped              25
12    Signal Gift Stores            112       10124    Shipped              32
13    Signal Gift Stores            112       10124    Shipped              36
14    Signal Gift Stores            112       10124    Shipped              42
15    Signal Gift Stores            112       10124    Shipped              42
16    Signal Gift Stores            112       10124    Shipped              43
17    Signal Gift Stores            112       10124    Shipped              45
18    Signal Gift Stores            112       10124    Shipped              46
19    Signal Gift Stores            112       10124    Shipped              49
20    Signal Gift Stores            112       10278    Shipped              23
21    Signal Gift Stores            112       10278    Shipped              25
22    Signal Gift Stores            112       10278    Shipped              29
23    Signal Gift Stores            112       10278    Shipped              29
24    Signal Gift Stores            112       10278    Shipped              31
25    Signal Gift Stores            112       10278    Shipped              31
26    Signal Gift Stores            112       10278    Shipped              34
27    Signal Gift Stores            112       10278    Shipped              35
28    Signal Gift Stores            112       10278    Shipped              39
29    Signal Gift Stores            112       10278    Shipped              42
...                  ...            ...         ...        ...             ...
2966   Kelly's Gift Shop            496       10179  Cancelled              34
2967   Kelly's Gift Shop            496       10179  Cancelled              39
2968   Kelly's Gift Shop            496       10179  Cancelled              45
2969   Kelly's Gift Shop            496       10179  Cancelled              47
2970   Kelly's Gift Shop            496       10360    Shipped              22
2971   Kelly's Gift Shop            496       10360    Shipped              22
2972   Kelly's Gift Shop            496       10360    Shipped              26
2973   Kelly's Gift Shop            496       10360    Shipped              29
2974   Kelly's Gift Shop            496       10360    Shipped              29
2975   Kelly's Gift Shop            496       10360    Shipped              30
2976   Kelly's Gift Shop            496       10360    Shipped              31
2977   Kelly's Gift Shop            496       10360    Shipped              31
2978   Kelly's Gift Shop            496       10360    Shipped              31
2979   Kelly's Gift Shop            496       10360    Shipped              32
2980   Kelly's Gift Shop            496       10360    Shipped              35
2981   Kelly's Gift Shop            496       10360    Shipped              36
2982   Kelly's Gift Shop            496       10360    Shipped              40
2983   Kelly's Gift Shop            496       10360    Shipped              40
2984   Kelly's Gift Shop            496       10360    Shipped              41
2985   Kelly's Gift Shop            496       10360    Shipped              46
2986   Kelly's Gift Shop            496       10360    Shipped              49
2987   Kelly's Gift Shop            496       10360    Shipped              50
2988   Kelly's Gift Shop            496       10399    Shipped              22
2989   Kelly's Gift Shop            496       10399    Shipped              29
2990   Kelly's Gift Shop            496       10399    Shipped              30
2991   Kelly's Gift Shop            496       10399    Shipped              32
2992   Kelly's Gift Shop            496       10399    Shipped              40
2993   Kelly's Gift Shop            496       10399    Shipped              51
2994   Kelly's Gift Shop            496       10399    Shipped              57
2995   Kelly's Gift Shop            496       10399    Shipped              58

[2996 rows x 5 columns]

#### Expected Output

<img src='images/expected-output-3.png'>

## HAVING and ORDER BY

Now, repeat the last query, but only get orders from customers that have a quantityOrdered value greater than 30. Sort the rows in ascending order by the quantity ordered. 

**_Hint_**: For this one, you'll need to make use of HAVING, GROUP BY, and ORDER BY--make sure you get the order of them correct!

In [7]:
query = """SELECT c.customerName, c.customerNumber, o.orderNumber, o.status, od.quantityOrdered
        FROM customers c
        JOIN orders o ON c.customerNumber = o.customerNumber
        JOIN OrderDetails od ON od.orderNumber = o.orderNumber
        GROUP BY c.customerName, od.quantityOrdered
        HAVING SUM(od.quantityOrdered)>30
        ORDER BY SUM(od.quantityOrdered)ASC;"""

c.execute(query)
df = pd.DataFrame(c.fetchall())
df.columns = [x[0] for x in c.description]
df

# c.execute("""SELECT c.customerName, c.customerNumber, o.orderNumber, o.status, od.quantityOrdered 
#             FROM Customers c 
#             JOIN Orders o ON c.customerNumber = o.customerNumber 
#             JOIN OrderDetails od ON od.orderNumber = o.orderNumber
#             GROUP BY od.quantityOrdered
#             HAVING SUM(od.quantityOrdered) > 10 
#             ORDER BY od.quantityOrdered ASC""")
# df = pd.DataFrame(c.fetchall())
# df.columns = [x[0] for x in c.description]
# df.head()

,customerName,customerNumber,orderNumber,status,quantityOrdered
0,"Anna's Decorations, Ltd",276,10148,Shipped,31
1,Auto Canal+ Petit,406,10252,Shipped,31
2,Baane Mini Imports,121,10103,Shipped,31
3,"Bavarian Collectables Imports, Co.",415,10296,Shipped,31
4,"Blauer See Auto, Co.",128,10300,Shipped,31
5,Boards & Toys Co.,219,10154,Shipped,31
6,CAF Imports,344,10177,Shipped,31
7,Cambridge Collectables Co.,173,10228,Shipped,31
8,"Classic Gift Ideas, Inc",339,10307,Shipped,31
9,Corporate Gift Ideas Co.,321,10159,Shipped,31
10,Danish Wholesale Imports,145,10105,Shipped,31
11,Diecast Collectables,495,10207,Shipped,31
12,"Dragon Souveniers, Ltd.",148,10165,Shipped,31
13,Gift Depot Inc.,175,10263,Shipped,31
14,Gifts4AllAges.com,362,10414,On Hold,31
15,"Iberia Gift Imports, Corp.",484,10184,Shipped,31
16,"King Kong Collectables, Co.",211,10187,Shipped,31
17,Land of Toys Inc.,131,10292,Shipped,31
18,Lyon Souveniers,250,10134,Shipped,31
19,Microscale Inc.,456,10319,Shipped,31
20,Mini Creations Ltd.,320,10143,Shipped,31
21,Mini Wheels Co.,129,10333,Shipped,31
22,"Norway Gifts By Mail, Co.",299,10284,Shipped,31
23,Petit Auto,314,10423,In Process,31
24,Reims Collectables,353,10137,Shipped,31
25,Salzburg Collectables,382,10341,Shipped,31
26,"Saveley & Henriot, Co.",146,10227,Shipped,31
27,"Stylish Desk Decors, Co.",324,10129,Shipped,31
28,Suominen Souveniers,334,10363,Shipped,31
29,"Toys of Finland, Co.",186,10377,Shipped,31
...,...,...,...,...,...
1359,Muscle Machine Inc,151,10204,Shipped,45
1360,Euro+ Shopping Channel,141,10386,Resolved,33
1361,Euro+ Shopping Channel,141,10412,Shipped,30
1362,Mini Gifts Distributors Ltd.,124,10390,Shipped,41
1363,Euro+ Shopping Channel,141,10412,Shipped,31
1364,Mini Gifts Distributors Ltd.,124,10390,Shipped,31
1365,Euro+ Shopping Channel,141,10424,In Process,50
1366,Mini Gifts Distributors Ltd.,124,10390,Shipped,36
1367,Mini Gifts Distributors Ltd.,124,10357,Shipped,43
1368,Mini Gifts Distributors Ltd.,124,10357,Shipped,44
1369,Euro+ Shopping Channel,141,10383,Shipped,27
1370,Mini Gifts Distributors Ltd.,124,10385,Shipped,25
1371,Euro+ Shopping Channel,141,10279,Shipped,48
1372,Euro+ Shopping Channel,141,10386,Resolved,29
1373,Euro+ Shopping Channel,141,10380,Shipped,34
1374,Euro+ Shopping Channel,141,10417,Disputed,45
1375,Mini Gifts Distributors Ltd.,124,10396,Shipped,45
1376,Euro+ Shopping Channel,141,10417,Disputed,36
1377,Mini Gifts Distributors Ltd.,124,10382,Shipped,48
1378,Mini Gifts Distributors Ltd.,124,10390,Shipped,50
1379,Euro+ Shopping Channel,141,10386,Resolved,43
1380,Mini Gifts Distributors Ltd.,124,10396,Shipped,39
1381,Mini Gifts Distributors Ltd.,124,10396,Shipped,49
1382,Mini Gifts Distributors Ltd.,124,10396,Shipped,33
1383,Euro+ Shopping Channel,141,10386,Resolved,32
1384,Euro+ Shopping Channel,141,10424,In Process,46
1385,Euro+ Shopping Channel,141,10383,Shipped,40
1386,Euro+ Shopping Channel,141,10424,In Process,44
1387,Euro+ Shopping Channel,141,10424,In Process,49
1388,Euro+ Shopping Channel,141,10412,Shipped,41

#### Expected Output

<img src='images/expected-output-4.png'>

## Subqueries

Finally, get the first name, last name, employee number, and office code for employees from an office with less than 5 employees.

In [23]:
strQuery = """SELECT lastName, firstName, employeeNumber, officeCode
                    FROM employees
                    WHERE officeCode IN (SELECT officeCode 
                                                FROM offices 
                                                JOIN employees
                                                USING(officeCode)
                                                GROUP BY 1
                                                HAVING COUNT(employeeNumber) < 5);"""

c.execute(strQuery)
df = pd.DataFrame(c.fetchall())
df.columns = [x[0] for x in c.description]
df

     lastName firstName employeeNumber officeCode
0   Patterson   William           1088          6
1    Firrelli     Julie           1188          2
2   Patterson     Steve           1216          2
3       Tseng  Foon Yue           1286          3
4      Vanauf    George           1323          3
5        Bott     Larry           1501          7
6       Jones     Barry           1504          7
7      Fixter      Andy           1611          6
8       Marsh     Peter           1612          6
9        King       Tom           1619          6
10      Nishi      Mami           1621          5
11       Kato   Yoshimi           1625          5

#### Expected Output

<img src='images/expected-output-5.png'>

# Summary

In this lesson, we reviewed all the major concepts and keywords associated with SQL queries!